.activeLink {
  color: #006c32;
  font-weight: bold;
  background-color: #e4efe9;
}
a:hover {
  color: #006c32;
  font-weight: bold;
  background-color: #e4efe9;
}

.tooltip {
  visibility: hidden;
  position: absolute;
}

.has-tooltip:hover .tooltip {
  visibility: visible;
  z-index: 50;
}
