<app-super-navbar />
<main dir="rtl" class="relative w-full pt-16 mx-auto max-w-7xl">
  <app-attach-parent-to-student
    [parentId]="currentUser.id"
    (fetchParentstds)="fetchAllParentStudents($event)"
  />

  <div class="grid grid-cols-1 gap-5 md:grid-cols-2">
    @if (!isLoading) { @for (studentDetails of studentsParent; track
    studentDetails.id) {
    <app-card-student [studentDetails]="studentDetails" />

    }@empty {
    <div class="max-w-lg px-6 mx-auto my-4 text-lg bg-blue-200 rounded-md">
      <div class="flex items-center py-4">
        <svg
          viewBox="0 0 24 24"
          class="w-5 h-5 ml-3 text-blue-600 sm:w-5 sm:h-5"
        >
          <path
            fill="currentColor"
            d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm.25,5a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,12.25,5ZM14.5,18.5h-4a1,1,0,0,1,0-2h.75a.25.25,0,0,0,.25-.25v-4.5a.25.25,0,0,0-.25-.25H10.5a1,1,0,0,1,0-2h1a2,2,0,0,1,2,2v4.75a.25.25,0,0,0,.25.25h.75a1,1,0,1,1,0,2Z"
          ></path>
        </svg>
        <span class="text-lg text-blue-800">ليس لديك أي طلاب حاليا..</span>
      </div>
      <p class="mb-4 text-base text-gray-700">
        يمكن إضافة طالب عن طريق الضغط علي زر إضافة من ثم ادخال رقم التعريفي
        للطالب
      </p>
    </div>
    } }@else {
    <div class="fixed z-50 top-[40%] left-[45%] bg-opacity-60">
      <div class="flex items-center">
        <div
          class="w-16 h-16 border-8 border-blue-600 border-dashed rounded-full animate-spin"
        ></div>
      </div>
    </div>
    }
  </div>
</main>
