<div class="py-16 m-auto">
  <div class="relative mt-9">
    <div
      class="absolute"
      [ngClass]="{
        '!bg-opacity-100 bg-white z-30 w-full h-screen': isLoading()
      }"
    ></div>
    <div [ngClass]="subCategoryName ? 'h-[28rem]' : 'h-screen'">
      <img
        src="./../../../../../assets/imgs/bgtitle.png"
        class="w-full h-full"
        alt="bgtitle"
      />
    </div>
    <div
      class="absolute flex items-center w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 md:justify-evenly"
    >
      @if (subCategoryName) { @switch (subCategoryName) { @case ('قدرات كمي') {
      <h2
        class="text-5xl font-bold leading-loose text-center md:text-right text-primaryAdmin"
      >
        دورات القدرات الكمي
      </h2>
      <div class="hidden md:basis-2/6">
        <img
          src="./../../../../../assets/imgs/كمي.png"
          class="w-full h-full"
          alt="دورات القدرات الكمي"
        />
      </div>
      } @case ('قدرات لفظي') {
      <h2 class="text-6xl font-bold text-primaryAdmin">دورات القدرات اللفظي</h2>
      <div class="w-2/6">
        <img
          src="./../../../../../assets/imgs/لفظي.png"
          class="w-full"
          alt="دورات القدرات اللفظي"
        />
      </div>
      } @case ('تحصيلي رياضيات') {
      <h2 class="text-6xl font-bold text-primaryAdmin">
        دورات التحصيلي رياضيات
      </h2>
      <div class="w-2/6">
        <img
          src="./../../../../../assets/imgs/رياضيات.png"
          class="w-full"
          alt="رياضيات"
        />
      </div>
      } @case ('تحصيلي فيزياء') {
      <h2 class="text-6xl font-bold text-primaryAdmin">
        دورات التحصيلي فيزياء
      </h2>
      <div class="w-2/6">
        <img
          src="./../../../../../assets/imgs/فيزياء.png"
          class="w-full"
          alt="فيزياء"
        />
      </div>
      } @case ('تحصيلي كيمياء') {
      <h2 class="text-6xl font-bold text-primaryAdmin">
        دورات التحصيلي كيمياء
      </h2>
      <div class="w-2/6">
        <img
          src="./../../../../../assets/imgs/كيمياء.png"
          class="w-full"
          alt="كيمياء"
        />
      </div>
      } @case ('تحصيلي أحياء') {
      <h2 class="text-6xl font-bold text-primaryAdmin">دورات التحصيلي أحياء</h2>
      <div class="w-2/6">
        <img
          src="./../../../../../assets/imgs/احياء.png"
          class="w-full"
          alt="احياء"
        />
      </div>
      } @case ('كنجارو') {
      <h2 class="text-6xl font-bold text-primaryAdmin">دورات كنجارو</h2>
      <div class="w-2/6">
        <img
          src="./../../../../../assets/imgs/كنجارو.png"
          class="w-full"
          alt="كنجارو"
        />
      </div>
      } @case ('موهوب') {
      <h2 class="text-6xl font-bold text-primaryAdmin">دورات الموهوب</h2>
      <div class="w-2/6">
        <img
          src="./../../../../../assets/imgs/موهوب.png"
          class="w-full"
          alt="موهوب"
        />
      </div>
      } @case ('البرنامج الوطني للكشف عن الموهوبين') {
      <h2 class="text-6xl font-bold text-primaryAdmin">
        دورات البرنامج الوطني
      </h2>
      <div class="w-2/6">
        <img
          src="./../../../../../assets/imgs/برنامج.png"
          class="w-full"
          alt="البرنامج الوطني للكشف عن الموهوبين"
        />
      </div>
      } @case ('أولمبياد الرياضيات') {
      <h2 class="text-6xl font-bold text-primaryAdmin">
        دورات أولمبياد الرياضيات
      </h2>
      <div class="w-2/6">
        <img
          src="./../../../../../assets/imgs/اولبياد.png"
          class="w-full"
          alt="أولمبياد الرياضيات"
        />
      </div>
      } @case ('Verbal') {
      <h2 class="text-6xl font-bold text-primaryAdmin">دورات Verbal</h2>
      <div class="w-2/6">
        <img
          src="./../../../../../assets/imgs/verbal.png"
          class="w-full"
          alt="Verbal"
        />
      </div>
      } @case ('Quantitative') {
      <h2 class="text-6xl font-bold text-primaryAdmin">دورات Quantitative</h2>
      <div class="w-2/6">
        <img
          src="./../../../../../assets/imgs/quan.png"
          class="w-full"
          alt="Quantitative"
        />
      </div>
      } } }@else {
      <section class="flex flex-col flex-wrap pt-12 mt-20">
        <div class="flex flex-row flex-wrap justify-center">
          <div class="flex justify-center w-64 h-24 m-2 text-center">
            <div class="z-10 flex-shrink-0 w-24 h-24">
              <img
                src="https://cdn-icons-png.flaticon.com/512/3858/3858671.png"
                width="256"
                height="256"
                alt="Coming soon free icon"
                title="Coming soon free icon"
              />
            </div>
            <div
              class="flex flex-col self-center py-2 pl-16 pr-4 -ml-12 text-left text-white bg-blue-500 rounded-l-full w-fit"
            >
              <h3 class="text-xl">انتظرونا قريبا</h3>
              <!-- <p class="w-64 overflow-x-auto overflow-y-hidden text-xs">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
            </div>
          </div>
        </div>
      </section>
      }
    </div>
  </div>
  <div class="grid grid-cols-1 gap-8 px-16 mt-8 md:grid-cols-2 lg:grid-cols-3">
    @for (tutorial of categoryTutorials; track tutorial.id; let odd = $odd) {

    <app-course-card [tutorial]="tutorial" [odd]="odd" />
    }
  </div>

  @if(isLoading()) {
  <div
    class="fixed z-50 top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2 bg-opacity-60"
  >
    <div class="relative flex items-center justify-center">
      <div
        class="absolute border-t-4 border-b-4 rounded-full border-secondaryAdmin w-36 h-36 animate-spin"
      ></div>
      <img [src]="logo" class="rounded-full h-28 w-28" />
    </div>
  </div>
  }
</div>
