<div class="px-4 py-6 m-auto mt-8 bg-gray-200 md:px-14">
  <h2 class="mt-4 text-4xl font-extrabold text-center md:text-5xl">
    مميزات المنصة
  </h2>
  <div class="my-6 md:my-12">
    <swiper-container
      class="mySwiper"
      space-between="60"
      centered-slides="true"
      autoplay-delay="2500"
      autoplay-disable-on-interaction="false"
      grab-cursor="true"
      loop="true"
      free-mode="true"
    >
      <swiper-slide class="grid place-items-center">
        <div
          [ngClass]="[secondaryColorBg]"
          class="flex flex-col flex-wrap items-center justify-center w-80 h-[26rem] rounded-full"
        >
          <div class="p-4 mb-8 bg-white rounded-full w-36">
            <img
              src="./../../../../../../../assets/imgs/index000 -05.png"
              alt="feature1"
              loading="lazy"
              class="w-full h-full"
            />
          </div>
          <div class="mb-20 text-3xl font-semibold text-center">
            <h3 class="mb-2">إختبارات</h3>
            <h3>محدثة باستمرار</h3>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide class="grid place-items-center">
        <div
          [ngClass]="[mainColorBg]"
          class="flex flex-col flex-wrap items-center justify-center w-80 h-[26rem] rounded-full md:mt-16 mt-0"
        >
          <div class="p-4 mb-8 bg-white rounded-full w-36">
            <img
              src="./../../../../../../../assets/imgs/index000 -02.png"
              alt="feature2"
              loading="lazy"
              class="w-full h-full"
            />
          </div>
          <div class="mb-20 text-3xl font-semibold text-center">
            <h3 class="mb-2">فيديوهات</h3>
            <h3>بجودة عالية</h3>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide class="grid place-items-center">
        <div
          [ngClass]="[secondaryColorBg]"
          class="flex flex-col flex-wrap items-center justify-center w-80 h-[26rem] rounded-full"
        >
          <div class="p-4 mb-8 bg-white rounded-full w-36">
            <img
              src="./../../../../../../../assets/imgs/index000 -04.png"
              alt="feature3"
              loading="lazy"
              class="w-full h-full"
            />
          </div>
          <div class="mb-20 text-3xl font-semibold text-center">
            <h3 class="mb-2">تدريب</h3>
            <h3>حتي الأحتراف</h3>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide class="grid place-items-center">
        <div
          [ngClass]="[mainColorBg]"
          class="flex flex-col flex-wrap items-center justify-center w-80 h-[26rem] rounded-full md:mt-16 mt-0"
        >
          <div class="p-4 mb-8 bg-white rounded-full w-36">
            <img
              src="./../../../../../../../assets/imgs/index000 -03.png"
              alt="feature4"
              loading="lazy"
              class="w-full h-full"
            />
          </div>
          <div class="mb-20 text-3xl font-semibold text-center">
            <h3 class="mb-2">تأسيس</h3>
            <h3>من البداية</h3>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</div>
