<main class="relative">
  <div
    class="absolute"
    [ngClass]="{ '!bg-opacity-60 bg-white z-30 w-full h-full': isLoading }"
  ></div>

  <div
    class="flex items-center justify-start min-h-full px-4 mx-auto my-8 sm:px-6 lg:px-8"
  >
    <div class="bg-white rounded-lg shadow-sm basis-full">
      <div class="flex items-center w-full px-8 py-2 rounded-full">
        <div class="flex-1 border-b-2 border-gray-300"></div>
        <span class="px-8 py-3 text-3xl font-bold leading-8 text-primaryAdmin">
          @if (packageId === 0) { أضافة بكدج جديدة }@else { تعديل بكدج }
        </span>
        <div class="flex-1 border-b-2 border-gray-300"></div>
      </div>
      <form
        [formGroup]="formData"
        (ngSubmit)="onSubmit()"
        class="space-y-6 rounded-lg"
        autocomplete="off"
      >
        <div class="px-8 py-6 bg-white rounded-lg">
          <div class="rounded-md">
            <div class="mt-3 bg-white rounded-lg">
              <div class="relative bg-inherit">
                <input
                  type="text"
                  name="id"
                  formControlName="id"
                  id="id"
                  hidden
                  class="w-full px-4 py-4 my-2 text-lg text-gray-900 placeholder-transparent bg-transparent rounded-lg peer ring-1 ring-gray-500 focus:ring-sky-600 focus:outline-none"
                />
              </div>
            </div>

            <div class="bg-white rounded-lg">
              <div class="relative bg-inherit">
                <input
                  type="text"
                  id="name"
                  name="name"
                  formControlName="name"
                  placeholder="أسم بكدج  "
                  [ngClass]="
                    formData.controls['name'].errors && submitted
                      ? 'ring-rose-600 '
                      : 'border-gray-300 focus:ring-sky-600'
                  "
                  class="w-full px-4 py-4 my-2 text-lg text-gray-900 placeholder-transparent bg-transparent rounded-lg peer ring-1 ring-gray-500 focus:ring-sky-600 focus:outline-none"
                /><label
                  for="name"
                  class="absolute right-0 px-1 mx-1 text-lg text-gray-500 transition-all cursor-text -top-3 bg-inherit peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-6 peer-focus:-top-1 peer-focus:text-sky-600 peer-focus:text-sm"
                  >أسم بكدج
                </label>
              </div>

              @if (submitted && formData.controls['name'].errors) {
              <div>
                @if (formData.controls['name'].errors['required'] ) {
                <p class="text-sm text-red-500">هذا الحقل مطلوب</p>
                }
              </div>
              }
            </div>

            <div class="py-4 bg-white rounded-lg">
              <div class="relative bg-inherit">
                <ng-select
                  [items]="allTutorials"
                  [multiple]="true"
                  [closeOnSelect]="true"
                  bindLabel="name"
                  bindValue="id"
                  formControlName="tutorialId"
                  placeholder="أختر الدورات في بكدج"
                  [loading]="isLoading"
                  (change)="onSelectedTutorails($event)"
                  [ngClass]="
                    formData.controls['tutorialId'].errors && submitted
                      ? 'ring-rose-600 '
                      : 'border-gray-300 focus:ring-sky-600'
                  "
                  class="w-full p-3 my-2 text-lg text-gray-900 rounded-lg disabled:bg-gray-400 peer ring-1 ring-gray-500 focus:ring-sky-600 focus:outline-none"
                >
                </ng-select>
              </div>
              @if (submitted && formData.controls['tutorialId'].errors) {
              <div>
                @if (formData.controls['tutorialId'].errors['required'] ) {
                <p class="text-sm text-red-500">هذا الحقل مطلوب</p>

                }
              </div>
              }
            </div>

            <!-- desc -->
            <div class="mt-3 bg-white rounded-lg">
              <div class="relative bg-inherit">
                <textarea
                  type="text"
                  name="description"
                  formControlName="description"
                  id="description"
                  rows="6"
                  placeholder="أدخل وصف البكدج"
                  [ngClass]="
                    formData.controls['description'].errors && submitted
                      ? 'ring-rose-600 '
                      : 'border-gray-300 focus:ring-sky-600'
                  "
                  class="w-full px-4 py-4 my-2 text-lg text-gray-900 placeholder-transparent bg-transparent rounded-lg peer ring-1 ring-gray-500 focus:ring-sky-600 focus:outline-none"
                ></textarea
                ><label
                  for="description"
                  [ngClass]="
                    formData.controls['description'].errors && submitted
                      ? 'text-rose-600 '
                      : 'text-gray-500'
                  "
                  class="absolute right-0 px-1 mx-1 text-lg transition-all cursor-text -top-3 bg-inherit peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-6 peer-focus:-top-1 peer-focus:text-sky-600 peer-focus:text-sm"
                  >وصف البكدج</label
                >
              </div>

              @if (submitted && formData.controls['description'].errors) {
              <div>
                @if (formData.controls['description'].errors['required'] ) {
                <p class="text-sm text-red-500">هذا الحقل مطلوب</p>
                }
              </div>
              }
            </div>

            <div class="flex items-center w-full my-4 rounded-full">
              <div class="flex-1 border-b-2 border-gray-300"></div>
              <span
                class="px-8 py-3 text-xl font-bold leading-8 text-primaryAdmin"
              >
                سعر البكدج
              </span>
              <div class="flex-1 border-b-2 border-gray-300"></div>
            </div>

            <div class="grid w-full grid-cols-1 md:grid-cols-2 gap-x-4">
              <div
                class="flex col-span-1 py-4 text-lg place-items-center gap-x-4"
              >
                <h3>سعر البكدج قبل الخصم</h3>
                <span class="text-secondaryAdmin">
                  {{ totalPriceBeforDiscount | currency : " " }} ر.س</span
                >
              </div>

              <div class="col-span-1 py-4 bg-white rounded-lg">
                <div class="bg-white rounded-lg">
                  <div class="relative bg-inherit">
                    <input
                      type="number"
                      id="price"
                      name="price"
                      formControlName="price"
                      placeholder="ادخل سعر البيع"
                      [ngClass]="
                        formData.controls['price'].errors && submitted
                          ? 'ring-rose-600 '
                          : 'border-gray-300 focus:ring-sky-600'
                      "
                      class="w-full px-4 py-4 my-2 text-lg text-gray-900 placeholder-transparent bg-transparent rounded-lg peer ring-1 ring-gray-500 focus:ring-sky-600 focus:outline-none"
                    /><label
                      for="price"
                      class="absolute right-0 px-1 mx-1 text-lg text-gray-500 transition-all cursor-text -top-3 bg-inherit peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-6 peer-focus:-top-1 peer-focus:text-sky-600 peer-focus:text-sm"
                    >
                      ادخل سعر البيع</label
                    >
                  </div>

                  @if (submitted && formData.controls['price'].errors) {
                  <div>
                    @if (formData.controls['price'].errors['required'] ) {
                    <p class="text-sm text-red-500">هذا الحقل مطلوب</p>
                    }
                  </div>
                  }
                </div>
              </div>
            </div>

            <div class="grid w-full grid-cols-1 md:grid-cols-2 gap-x-4">
              <div class="col-span-1 py-4 bg-white rounded-lg">
                <div class="relative bg-inherit">
                  <div class="flex items-center justify-center gap-x-12">
                    <label
                      class="flex flex-col items-center w-64 px-4 py-6 tracking-wide text-blue-600 border rounded-lg cursor-pointer hover:text-blue-700"
                    >
                      <svg
                        class="w-8 h-8"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                      >
                        <path
                          d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z"
                        />
                      </svg>
                      <span class="mt-2 text-base leading-normal">
                        أختر صورة مميزة</span
                      >
                      <input
                        type="file"
                        id="img"
                        name="img"
                        (change)="onFileSelected($event)"
                        class="hidden"
                      />
                    </label>
                    <div class="shrink-0">
                      @if (previewImageUrl ) {
                      <img
                        id="preview_img"
                        class="object-cover rounded-full size-28"
                        [src]="previewImageUrl"
                        alt="Current photo"
                      />
                      }@else{
                      <img
                        id="preview_img"
                        class="object-cover rounded-full size-28"
                        src="https://user-images.githubusercontent.com/507615/54591670-ac0a0180-4a65-11e9-846c-e55ffce0fe7b.png"
                        alt="no data"
                        alt="Current photo"
                      />
                      }
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex items-center justify-center w-full mt-3">
          <button
            type="submit"
            class="flex items-center justify-center w-full p-4 mb-8 text-xl font-medium text-white transition-colors border-2 border-transparent rounded-lg md:w-1/2 lg:w-1/3 bg-secondaryAdmin hover:bg-primaryAdmin focus:outline-none focus:ring-1 focus:ring-offset-2"
          >
            @if (isLoading) {
            <div
              class="w-8 h-8 border-8 border-purple-800 border-dashed rounded-full animate-spin border-t-transparent"
            ></div>
            } @else { حفظ }
          </button>
        </div>
      </form>
    </div>
  </div>
  @if(isLoading) {
  <div class="fixed z-50 top-[40%] left-[40rem] bg-opacity-60">
    <div class="flex items-center">
      <div
        class="w-16 h-16 border-8 border-blue-600 border-dashed rounded-full animate-spin"
      ></div>
    </div>
  </div>

  }
</main>
