.activeLink {
  color: #fff;
  background-color: #41b494;
}
.toTop {
  position: fixed;
  bottom: 50px;
  left: 20px;
  z-index: 10000000;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}
