a:hover {
  color: #006c32;
  font-weight: bold;
  background-color: #e4efe9;
  &:hover h2 {
    color: #006c32 !important;
  }
  h2 {
    color: #fff;
  }
}
.activeLink {
  color: #006c32;
  font-weight: bold;
  background-color: #e4efe9;
  &:hover h2 {
    color: #006c32 !important;
  }
}
