<footer class="px-4 py-12 footer">
  <div
    class="container flex flex-col justify-between mx-auto space-y-8 lg:flex-row lg:space-y-0"
  >
    <div class="lg:w-5/12 lg:ps-12">
      <a
        rel="noopener noreferrer"
        href="#"
        class="flex justify-center space-x-3 lg:justify-start"
      >
        <div class="flex items-center justify-center w-72">
          <img src="./../../../../assets/imgs/index000 -20.png" alt="logo" />
        </div>
      </a>
    </div>
    <div
      class="grid grid-cols-1 pt-12 text-lg gap-x-3 gap-y-8 lg:w-2/3 sm:grid-cols-2"
    >
      <div class="space-y-3 text-white w-fit">
        <h3
          [ngClass]="[secondaryColorBg]"
          class="p-1 px-4 mb-4 text-xl font-semibold"
        >
          روابط سريعة
        </h3>
        <ul class="space-y-2">
          <li
            [ngClass]="[secondaryColorTextHover]"
            class="flex items-center font-semibold transition-colors cursor-pointer gap-x-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 19.5 8.25 12l7.5-7.5"
              />
            </svg>

            <a rel="noopener noreferrer" href="/">الرئيسيـــة</a>
          </li>
          <li
            [ngClass]="[secondaryColorTextHover]"
            class="flex items-center font-semibold transition-colors cursor-pointer gap-x-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 19.5 8.25 12l7.5-7.5"
              />
            </svg>

            <a rel="noopener noreferrer" href="#">دورة القدرات</a>
          </li>
          <li
            [ngClass]="[secondaryColorTextHover]"
            class="flex items-center font-semibold transition-colors cursor-pointer gap-x-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 19.5 8.25 12l7.5-7.5"
              />
            </svg>

            <a rel="noopener noreferrer" href="#">دورة التحصيلي</a>
          </li>
          <li
            [ngClass]="[secondaryColorTextHover]"
            class="flex items-center font-semibold transition-colors cursor-pointer gap-x-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 19.5 8.25 12l7.5-7.5"
              />
            </svg>

            <a rel="noopener noreferrer" href="#">دورة موهبة</a>
          </li>
          <li
            [ngClass]="[secondaryColorTextHover]"
            class="flex items-center font-semibold transition-colors cursor-pointer gap-x-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 19.5 8.25 12l7.5-7.5"
              />
            </svg>

            <a rel="noopener noreferrer" href="#">دورة قدرات انجليزي</a>
          </li>
        </ul>
      </div>
      <div class="space-y-3 text-white w-fit">
        <h3
          [ngClass]="[secondaryColorBg]"
          class="p-1 px-4 mb-4 text-xl font-semibold"
        >
          تواصل معنا
        </h3>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col justify-center md:flex-row w-full p-4 font-semibold text-center border rounded-full gap-y-2 md:gap-y-0 border-greenF bg-opacity-30 bg-greenF text-slate-950"
  >
    <div class="text-sm basis-1/2">
      <span class="font-semibold ml-0 md:ml-8">الشروط والاحكام</span>
      |
      <span class="mx-0 font-semibold md:mx-8">سياسة الخصوصية</span>
      |
      <span class="font-semibold mr-0 md:mr-8"> التعليمات</span>
    </div>
    <div class="basis-1/2">
      <p>جميع حقوق النشر محفوظة © 2024 | السالم</p>
    </div>
  </div>
</footer>
