<div class="relative grid h-screen place-items-center bGround">
  <main
    class="flex items-center justify-center w-full px-4 mx-auto md:flex sm:px-6 lg:px-8"
  >
    <div
      class="flex flex-col justify-center w-10/12 bg-white shadow-xl lg:w-10/12 md:w-8/12 rounded-xl"
    >
      <div class="flex justify-center w-full">
        <a routerLink="/">
          <img [src]="logo" class="w-20" alt="logo" />
        </a>
      </div>
      <form
        [formGroup]="registerForm"
        (ngSubmit)="onRegister()"
        class="flex flex-col items-center justify-center w-full px-8"
      >
        <div class="w-full px-8 pt-2 pb-4">
          <div class="rounded-md">
            <div class="grid w-full grid-cols-1 md:grid-cols-2 gap-x-12">
              <div class="col-span-1">
                <div class="relative">
                  <input
                    required
                    name="firstName"
                    formControlName="firstName"
                    placeholder=" الأسم الاول"
                    matInput
                    [ngClass]="
                      registerForm.controls['firstName'].errors && submitted
                        ? 'border-red-400 placeholder:text-red-500'
                        : 'border-gray-300 focus:border-primaryAdmin'
                    "
                    class="relative block w-full py-4 pr-6 my-2 text-black placeholder-black border-2 rounded-full appearance-none pl-14 placeholder:text-right bg-[#b7e4c7] focus:outline-none focus:ring-primaryAdmin"
                  />
                  <div
                    class="absolute p-1.5 bg-white rounded-full top-3 left-3"
                  >
                    <fa-icon
                      [icon]="userIcon"
                      class="text-primaryAdmin"
                    ></fa-icon>
                  </div>
                </div>

                @if (submitted && registerForm.controls['firstName'].errors) {
                <div>
                  @if (registerForm.controls['firstName'].errors['required'] ) {
                  <p class="text-xs text-red-500 ps-3">هذا الحقل مطلوب</p>
                  }
                </div>
                }
              </div>
              <div class="col-span-1">
                <div class="relative">
                  <input
                    required
                    name="lastName"
                    formControlName="lastName"
                    placeholder=" الأسم الأخير"
                    matInput
                    [ngClass]="
                      registerForm.controls['lastName'].errors && submitted
                        ? 'border-red-400 placeholder:text-red-500'
                        : 'border-gray-300 focus:border-primaryAdmin'
                    "
                    class="relative block w-full py-4 pr-6 my-2 text-black placeholder-black border-2 rounded-full appearance-none pl-14 placeholder:text-right bg-[#b7e4c7] focus:outline-none focus:ring-primaryAdmin"
                  />
                  <div
                    class="absolute p-1.5 bg-white rounded-full top-3 left-3"
                  >
                    <fa-icon
                      [icon]="userIcon"
                      class="text-primaryAdmin"
                    ></fa-icon>
                  </div>
                </div>

                @if (submitted && registerForm.controls['lastName'].errors) {
                <div>
                  @if (registerForm.controls['lastName'].errors['required'] ) {
                  <p class="text-xs text-red-500 ps-3">هذا الحقل مطلوب</p>
                  }
                </div>
                }
              </div>
            </div>
            <div class="grid w-full grid-cols-1 mt-3 md:grid-cols-2 gap-x-12">
              <div class="col-span-1">
                <div class="relative">
                  <input
                    required
                    name="email"
                    formControlName="email"
                    placeholder="البريد الإلكتروني"
                    matInput
                    [ngClass]="
                      registerForm.controls['email'].errors && submitted
                        ? 'border-red-400 placeholder:text-red-500'
                        : 'border-gray-300 focus:border-primaryAdmin'
                    "
                    class="relative block w-full py-4 pr-6 my-2 text-black placeholder-black border-2 rounded-full appearance-none pl-14 placeholder:text-right bg-[#b7e4c7] focus:outline-none focus:ring-primaryAdmin"
                  />
                  <div
                    class="absolute p-1.5 bg-white rounded-full top-3 left-3"
                  >
                    <fa-icon
                      [icon]="emailIcon"
                      class="text-primaryAdmin"
                    ></fa-icon>
                  </div>
                </div>
                @if (submitted && registerForm.controls['email'].errors) {
                <div>
                  @if (registerForm.controls['email'].errors['required'] ) {
                  <p class="text-xs text-red-500 ps-3">هذا الحقل مطلوب</p>
                  } @if (registerForm.controls['email'].errors['email']) {
                  <p class="text-xs text-red-500 ps-3">
                    أدخل بريدًا إلكترونيًّا صحيحًا
                  </p>
                  }
                </div>
                }
              </div>
              <div class="col-span-1">
                <div class="relative">
                  <input
                    type="tel"
                    name="phone"
                    formControlName="phone"
                    placeholder=" رقم الجوال"
                    matInput
                    [ngClass]="
                      registerForm.controls['phone'].errors && submitted
                        ? 'border-red-400 placeholder:text-red-500'
                        : 'border-gray-300 focus:border-primaryAdmin'
                    "
                    class="relative block w-full py-4 pr-6 my-2 text-black placeholder-black border-2 rounded-full appearance-none pl-14 placeholder:text-right bg-[#b7e4c7] focus:outline-none focus:ring-primaryAdmin"
                  />
                  <div
                    class="absolute p-1.5 bg-white rounded-full top-3 left-3"
                  >
                    <fa-icon
                      [icon]="phoneIcon"
                      class="text-primaryAdmin"
                    ></fa-icon>
                  </div>
                </div>

                @if (submitted && registerForm.controls['phone'].errors) {
                <div>
                  @if (registerForm.controls['phone'].errors['required'] ) {
                  <p class="text-xs text-red-500 ps-3">هذا الحقل مطلوب</p>
                  } @if (registerForm.controls['phone'].errors['pattern']) {
                  <p class="text-xs text-red-500 ps-3">رقم الجوال غير صحيح</p>
                  }
                </div>
                }
              </div>
            </div>

            <div class="grid w-full grid-cols-1 mt-3 md:grid-cols-2 gap-x-12">
              <div class="col-span-1">
                <div class="relative">
                  <input
                    autocomplete="new-password"
                    name="password"
                    formControlName="password"
                    [type]="passwordFieldType"
                    placeholder="كلمة المرور"
                    [ngClass]="
                      registerForm.controls['password'].errors && submitted
                        ? 'border-red-400 placeholder:text-red-500'
                        : 'border-gray-300 focus:border-primaryAdmin'
                    "
                    class="relative block w-full py-4 pr-6 my-2 text-black placeholder-black border-2 rounded-full appearance-none pl-14 placeholder:text-right bg-[#b7e4c7] focus:outline-none focus:ring-primaryAdmin"
                  />
                  <button
                    type="button"
                    class="absolute p-1.5 bg-white rounded-full top-3 left-3"
                    (click)="togglePasswordVisibility()"
                  >
                    @if (passwordFieldType === 'password' ) {

                    <fa-icon
                      [icon]="eyeIcon"
                      class="text-primaryAdmin"
                    ></fa-icon>
                    }@else {
                    <fa-icon
                      [icon]="eyeSlashIcon"
                      class="text-primaryAdmin"
                    ></fa-icon>

                    }
                  </button>
                </div>

                @if (submitted && registerForm.controls['password'].errors) {
                <div>
                  @if (registerForm.controls['password'].errors['required'] ) {
                  <p class="text-xs text-red-500 ps-3">هذا الحقل مطلوب</p>
                  } @if (registerForm.controls['password'].errors['minlength'])
                  {
                  <p class="text-xs text-red-500 ps-3">
                    لابد أن لا تقل كلمة المرور عن 6 أحرف
                  </p>
                  }
                </div>
                }
              </div>

              <div class="col-span-1">
                <div class="relative">
                  <input
                    autocomplete="new-password"
                    name="confirmPassword"
                    formControlName="confirmPassword"
                    [type]="passwordFieldType"
                    placeholder="تأكيد كلمة المرور"
                    [ngClass]="
                      registerForm.controls['confirmPassword'].errors &&
                      submitted
                        ? 'border-red-400 placeholder:text-red-500'
                        : 'border-gray-300 focus:border-primaryAdmin'
                    "
                    class="relative block w-full py-4 pr-6 my-2 text-black placeholder-black bg-[#b7e4c7] border-2 rounded-full appearance-none pl-14 placeholder:text-right focus:outline-none focus:ring-primaryAdmin"
                  />
                  <button
                    type="button"
                    class="absolute p-1.5 bg-white rounded-full top-3 left-3"
                    (click)="togglePasswordVisibility()"
                  >
                    @if (passwordFieldType === 'password' ) {

                    <fa-icon
                      [icon]="eyeIcon"
                      class="text-primaryAdmin"
                    ></fa-icon>
                    }@else {
                    <fa-icon
                      [icon]="eyeSlashIcon"
                      class="text-primaryAdmin"
                    ></fa-icon>

                    }
                  </button>
                </div>

                @if (submitted && registerForm.errors?.['PasswordNoMatch']) {
                <div>
                  <p class="text-xs text-red-500 ps-3">
                    كلمة المرور غير متطابقة.
                  </p>
                </div>
                }
              </div>
            </div>

            <div class="grid w-full grid-cols-1 mt-3 md:grid-cols-2 gap-x-12">
              <div class="col-span-1">
                <ng-select
                  [items]="allSchools"
                  [closeOnSelect]="true"
                  bindLabel="name"
                  bindValue="id"
                  formControlName="schoolId"
                  placeholder="اختر المدرسة"
                  [loading]="isLoading()"
                  [ngClass]="
                    registerForm.controls['schoolId'].errors && submitted
                      ? 'border-red-400 placeholder:text-red-500'
                      : 'border-gray-300 focus:border-primaryAdmin'
                  "
                  class="relative block w-full py-3 pr-6 my-2 text-black placeholder-black border-2 rounded-full appearance-none pl-14 placeholder:text-right bg-[#b7e4c7] focus:outline-none focus:ring-primaryAdmin"
                >
                </ng-select>

                @if (submitted && registerForm.controls['schoolId'].errors) {
                <div>
                  @if (registerForm.controls['schoolId'].errors['required'] ) {
                  <p class="text-xs text-red-500 ps-3">هذا الحقل مطلوب</p>

                  }
                </div>
                }
              </div>

              <div class="col-span-1">
                <ng-select
                  [closeOnSelect]="true"
                  bindLabel="name"
                  bindValue="id"
                  formControlName="state"
                  placeholder="اختر الصف"
                  [ngClass]="
                    registerForm.controls['state'].errors && submitted
                      ? 'ring-rose-600 '
                      : 'border-gray-300 focus:ring-sky-600'
                  "
                  class="relative block w-full py-3 pr-6 my-2 text-black placeholder-black border-2 rounded-full appearance-none pl-14 placeholder:text-right bg-[#b7e4c7] focus:outline-none focus:ring-primaryAdmin"
                >
                  <ng-option [value]="1">الصف الاول الثانوي</ng-option>
                  <ng-option [value]="2">الصف الثاني الثانوي</ng-option>
                  <ng-option [value]="3">الصف الثالث الثانوي</ng-option>
                </ng-select>

                @if (submitted && registerForm.controls['state'].errors) {
                <div>
                  @if (registerForm.controls['state'].errors['required'] ) {
                  <p class="text-xs text-red-500 ps-3">هذا الحقل مطلوب</p>

                  }
                </div>
                }
              </div>
            </div>

            <div class="grid w-full grid-cols-1 md:grid-cols-2 gap-x-12">
              <div class="col-span-1">
                <ng-select
                  [items]="classNumbers"
                  [closeOnSelect]="true"
                  bindLabel="name"
                  bindValue="id"
                  formControlName="classNumber"
                  placeholder="اختر رقم الفصل"
                  [ngClass]="
                    registerForm.controls['classNumber'].errors && submitted
                      ? 'ring-rose-600 '
                      : 'border-gray-300 focus:ring-sky-600'
                  "
                  class="relative block w-full py-3 pr-6 my-2 text-black placeholder-black border-2 rounded-full appearance-none pl-14 placeholder:text-right bg-[#b7e4c7] focus:outline-none focus:ring-primaryAdmin"
                >
                </ng-select>

                @if (submitted && registerForm.controls['classNumber'].errors) {
                <div>
                  @if (registerForm.controls['classNumber'].errors['required'] )
                  {
                  <p class="text-xs text-red-500 ps-3">هذا الحقل مطلوب</p>

                  }
                </div>
                }
              </div>
              <div class="flex flex-col items-center justify-center col-span-1">
                <button
                  type="submit"
                  [ngClass]="[mainColorBg, secondaryColorBgHover]"
                  class="flex justify-center w-3/5 py-3 my-2 text-lg font-semibold text-white transition-colors rounded-full focus:outline-none"
                >
                  @if (isLoading()) {
                  <img
                    class="w-8 h-8 animate-spin text-purple-950"
                    src="https://www.svgrepo.com/show/474682/loading.svg"
                    alt="Loading icon"
                  />
                  } @else { دخول }
                </button>
                <button
                  type="button"
                  class="flex items-center justify-center w-4/5 py-1 mt-2 text-lg font-semibold text-black transition-colors border rounded-full hover:text-primaryAdmin border-primaryAdmin focus:outline-none"
                >
                  <span> التسجيل بحساب جوجل </span>
                  <div class="w-10">
                    <img
                      src="./../../../../assets/imgs/google.png"
                      class="w-full"
                      alt="google"
                    />
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <p
        class="flex items-center justify-center mb-4 text-sm text-secondaryAdmin"
      >
        هل لديك حساب بالفعل؟
        <a
          routerLink="/login"
          class="px-2 font-semibold cursor-pointe text-primaryAdmin"
          >تسجيل دخول
        </a>
      </p>
    </div>
  </main>
</div>
