<nav
  class="fixed z-10 flex items-center justify-between w-full h-16 px-4 bg-transparent bg-white border-b gap-x-4 lg:px-12"
>
  <div class="lg:ms-72 ms-[4.5rem] transition-all duration-500">
    <a routerLink="/admin">
      <img
        src="./../../../../../assets/imgs/logo2.png"
        class="size-12"
        alt=" logo image"
      />
    </a>
  </div>
  <div class="flex">
    <!-- <div class="flex items-center">
      <input
        [ngClass]="{ 'w-96 pr-6 border border-slate-300 bg-white': isShow }"
        class="block w-0 py-2 text-base transition-all duration-500 bg-transparent rounded-md shadow-sm placeholder:text-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1"
        placeholder="إبحث"
        type="text"
        autocomplete="off"
        name="search"
      />
      <span class="p-2 mr-4" (click)="onShow()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="text-gray-400 transition-colors cursor-pointer w-7 h-7 hover:text-secondaryAdmin"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          />
        </svg>
      </span>
    </div> -->
    <div
      (mouseenter)="menu_Profile()"
      (mouseleave)="menu_Profile_close()"
      class="relative z-50 flex items-center p-4 cursor-pointer text-primaryAdmin"
    >
      <p class="text-lg font-semibold truncate">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-7"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
          />
        </svg>
      </p>
      <span class="mx-2 inlin-block">
        <svg
          [ngClass]="menu_show_Profile ? 'rotate-180 transition-transform' : ''"
          class="size-6"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m6 9 6 6 6-6" />
        </svg>
      </span>
      <ul
        [ngClass]="{
          'scale-100 border-t-2 bg-primaryAdmin border-secondaryAdmin':
            menu_show_Profile
        }"
        class="absolute left-0 z-[100] flex flex-col items-center px-4 justify-center w-56 scale-0 overflow-hidden text-base text-white transition-all duration-500 rounded-bl-lg rounded-br-lg shadow-lg top-12"
      >
        <li
          routerLink="/instructor/profile"
          routerLinkActive="activeLink"
          class="px-2 py-2 transition-all cursor-pointer hover:text-secondaryAdmin"
        >
          <span class="font-mont text-f6">الملف الشخصي</span>
        </li>
        <li
          class="px-2 py-2 transition-all cursor-pointer hover:text-secondaryAdmin"
          [routerLink]="['/instructor/settings-profile']"
        >
          <span class="font-mont text-f6"> إعدادات الحساب</span>
        </li>

        <!-- (click)="authService.logout()" -->

        <li
          (click)="authService.logout()"
          class="px-2 py-2 transition-all cursor-pointer hover:text-secondaryAdmin"
        >
          <span class="font-mont text-f6">تسجيل خروج </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
