<div class="my-16">
  <section class="mb-32 text-center">
    <app-title-screen [title]="' لوحة التحكم'" />

    <div class="mt-8">
      <div
        class="grid grid-cols-1 gap-4 text-center md:px-4 md:grid-cols-3 xl:grid-cols-5 bg-slate-100 md:bg-transparent md:mt-0"
      >
        <div
          class="flex justify-between p-4 px-6 transition-colors border-b-2 rounded-md md:bg-slate-100 md:hover:bg-slate-200 md:flex-col md:border md:gap-y-4"
        >
          <p class="md:text-xl text-textNav">اجمالي الدورات</p>
          <p class="text-xl font-bold md:text-2xl text-secondaryAdmin">
            {{ lenOfTutorials }}
          </p>
        </div>
        <div
          class="flex justify-between p-4 px-6 transition-colors border-b-2 rounded-md md:bg-slate-100 md:hover:bg-slate-200 md:flex-col md:border md:gap-y-4"
        >
          <p class="md:text-xl text-textNav">الدورات الجارية</p>
          <p class="text-xl font-bold md:text-2xl text-secondaryAdmin">
            {{ lenOfTutorialsWork }}
          </p>
        </div>
        <div
          class="flex justify-between p-4 px-6 transition-colors border-b-2 rounded-md md:bg-slate-100 md:hover:bg-slate-200 md:flex-col md:border md:gap-y-4"
        >
          <p class="md:text-xl text-textNav">اجمالي الطلاب</p>
          <p class="text-xl font-bold md:text-2xl text-secondaryAdmin">89</p>
        </div>
        <div
          class="flex justify-between p-4 px-6 transition-colors border-b-2 rounded-md md:bg-slate-100 md:hover:bg-slate-200 md:flex-col md:border md:gap-y-4"
        >
          <p class="md:text-xl text-textNav">المدارس المشتركة</p>
          <p class="text-xl font-bold md:text-2xl text-secondaryAdmin">10</p>
        </div>
      </div>
    </div>
  </section>
</div>
