@tailwind base;
@tailwind components;
@tailwind utilities;

// @import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");
// regular style toast
@import "ngx-toastr/toastr";
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  // border-radius: 8px;
  background-color: transparent;
  border: 1px solid transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #cbcdd0;
}

#toast-container {
  margin: 20px 0;

  .toast-error,
  .toast-success,
  .toast-info,
  .toast-warning {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 9999px;
    width: fit-content;
    padding: 16px 50px 16px 75px;

    // .toast-title {
    //   font-size: 24px;
    //   margin-left: 15px;
    // }
    .toast-message {
      font-size: 16px;
    }
  }
}

.ng-fa-icon svg.svg-inline--fa {
  height: 20px !important;
  width: 20px !important;
}

// table in admin

.ngx-table {
  font-family: "Alexandria", sans-serif !important;
  position: relative;
  font-size: 18px !important;
  margin: 20px 0;
  text-align: center;
}

.ngx-table thead {
  // position: sticky;
  // top: 64px;
  background-color: #36b290;
  color: white;
  border-radius: 12px;

  z-index: 1;
}

.ngx-pagination-wrapper {
  direction: ltr;
}

.ngx-dropdown {
  float: initial;
  margin-right: 14px;
  .ngx-btn-link {
    color: white;
  }
}

.level-template {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px 16px;
  color: black;
}

/* Apply responsive styles when the screen width is less than 768px */
@media screen and (min-width: 768px) {
  .ngx-table__horizontal-scroll {
    display: table;
  }
}

.ng-select .ng-select-container {
  border: none;
}

.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value {
  // font-size: 18px;
  padding: 0px 0 0px 14px;
}

.ng-select .ng-select-container,
.ng-select.ng-select-opened .ng-select-container {
  background-color: transparent;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: #000;
}
