<div class="relative">
  <div
    class="absolute"
    [ngClass]="{ '!bg-opacity-60 bg-white z-30 w-full h-full': isDelete }"
  ></div>

  <div class="pt-4 mb-12">
    <app-title-screen [title]="'جميع المدارس'" />

    <form class="container mx-auto my-6">
      <input
        dir="rtl"
        id="globalSearch"
        (input)="onChange($event)"
        class="w-full px-8 text-xl border rounded shadow-sm h-14 focus:border-2 focus:border-sky-600 focus:outline-none focus:shadow-outline"
        type="search"
        placeholder="إبحث ..."
      />
    </form>

    <div class="flex items-center justify-end w-full my-8" dir="rtl">
      <div class="flex justify-end basis-4/12">
        <button
          (click)="showModal()"
          class="flex items-center px-4 py-2 text-sm text-white transition-colors border rounded-lg gap-x-2 md:text-lg md:px-6 md:py-2 bg-secondaryAdmin hover:bg-opacity-95"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 4.5v15m7.5-7.5h-15"
            />
          </svg>
          إضافة
        </button>
      </div>
    </div>

    <ngx-table
      [data]="data"
      [configuration]="configuration"
      #table
      [columns]="columns"
      [noResultsTemplate]="noResultsTemplate"
    >
    </ngx-table>

    <ng-template #noResultsTemplate>
      <td [attr.colspan]="columns.length" class="no-results">
        لا تُوجد بيانات بعد.
      </td>
    </ng-template>
  </div>

  <!-- edit -->
  <ng-template #actionTpl let-row>
    <div class="flex items-center justify-center gap-x-12">
      <svg
        (click)="edit(row.id)"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 text-green-600 cursor-pointer hover:text-green-700"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
        />
      </svg>
      <svg
        (click)="remove(row.id)"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 text-red-600 cursor-pointer hover:text-red-700"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
        />
      </svg>
    </div>
  </ng-template>

  <!-- model -->
  <div
    [ngClass]="{ 'scale-100': modal }"
    class="fixed inset-0 top-0 left-0 right-0 z-[110] md:z-50 grid items-center justify-center w-full h-full transition-transform duration-500 scale-0 bg-gray-50 bg-opacity-60 place-items-center"
  >
    <div
      class="flex items-center justify-center mx-auto md:w-[35rem] w-80 sm:px-6"
    >
      <div class="bg-white rounded-lg shadow-sm md:border basis-full">
        <div
          class="flex justify-between px-2 pt-8 text-center md:text-right lg:px-8"
        >
          <h2 class="text-xl font-bold lg:text-3xl text-primaryAdmin">
            @if (schoolId === 0) { أضف مدرسة جديد }@else { تعديل المدرسة }
          </h2>
          <button (click)="hideModal()" class="">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 transition-all duration-500 hover:rotate-180 hover:scale-125 hover:text-red-700"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>

        <form
          [formGroup]="this.formData"
          (ngSubmit)="onSubmit()"
          class="space-y-4 rounded-lg"
          autocomplete="off"
        >
          <div class="py-4 bg-white rounded-lg md:px-4 lg:px-8">
            <div class="rounded-md">
              <div class="mt-3 bg-white rounded-lg">
                <div class="relative bg-inherit">
                  <input
                    type="text"
                    name="id"
                    formControlName="id"
                    id="id"
                    hidden
                    class="w-full px-4 py-4 my-2 text-lg text-gray-900 placeholder-transparent bg-transparent rounded-lg peer ring-2 ring-gray-500 focus:ring-sky-600 focus:outline-none"
                  />
                </div>
              </div>

              <div class="px-4 mt-3 bg-white rounded-lg">
                <div class="relative bg-inherit">
                  <input
                    type="name"
                    name="name"
                    formControlName="name"
                    id="name"
                    placeholder="أدخل أسم المدرسة"
                    [ngClass]="
                      formData.controls['name'].errors && submitted
                        ? 'ring-rose-600'
                        : 'border-gray-300 focus:ring-sky-600'
                    "
                    class="w-full px-4 py-4 my-2 text-lg text-gray-900 placeholder-transparent bg-transparent rounded-lg peer ring-2 ring-gray-500 focus:ring-sky-600 focus:outline-none"
                  /><label
                    for="name"
                    class="absolute right-0 px-1 mx-1 text-lg text-gray-500 transition-all cursor-text -top-3 bg-inherit peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-6 peer-focus:-top-1 peer-focus:text-sky-600 peer-focus:text-sm"
                  >
                    أدخل أسم المدرسة</label
                  >
                </div>

                @if (submitted && formData.controls['name'].errors) {
                <div>
                  @if (formData.controls['name'].errors['required'] ) {
                  <p class="text-sm text-red-500">هذا الحقل مطلوب</p>
                  }
                </div>
                }
              </div>
            </div>
          </div>

          <div class="grid w-full place-items-center">
            <button
              type="submit"
              class="flex justify-center px-8 py-3 mb-8 text-xl font-medium text-white transition-colors border-2 border-transparent rounded-lg bg-secondaryAdmin hover:bg-primaryAdmin w-fit focus:outline-none focus:ring-2 focus:ring-offset-2"
            >
              @if (isLoading) {
              <div
                class="w-8 h-8 border-8 border-purple-600 border-dashed rounded-full animate-spin border-t-transparent"
              ></div>
              } @else { @if (schoolId === 0) { أضف المدرسة }@else { تعديل
              المدرسة } }
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  @if(isDelete) {
  <div class="fixed z-50 top-1/2 left-[40rem] bg-opacity-60">
    <div class="flex items-center">
      <div
        class="w-16 h-16 border-8 border-blue-600 border-dashed rounded-full animate-spin"
      ></div>
    </div>
  </div>
  }
</div>
